venv/
.env
data/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
*.log
*.pot
*.pyc
__pycache__/
__pycache__
*__pycache__*
*.py[cod]
*$py.class
.idea
groups.json